ironpython-read-only
IronPythonTest2
DockPanel_Src/WinFormsUI/obj
DockPanel_Src/WinFormsUI/bin
PyDoodle/bin
PyDoodle/obj
*.suo
DockPanel_Src/DockPanel.chw
*.py.layout.xml
*.py.config.xml
/README.html
